<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='css/github.css')}}>
    <title>Github</title>
</head>
<body>
    <main>
        <div id="container">
            <h3>{{github['name']}}</h3>
            <img src={{github['avatar_url']}} />
            <p id="bio">{{github['bio']}}</p>
            <div id="gitinfo">
                <div id="gitinfocol1">
                <p><span>{{github['public_repos']}}</span> Repositórios</p>
                    <ul>
                        {%for repo in repos%}
                        <li>
                            {{repo['name']}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="gitinfocol2">
                    <div>
                        <p><span>{{github['followers']}}</span> Seguidores</p>
                        <ul>
                            {%for repo in followers%}
                            <li>
                                {{repo['login']}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><span>{{github['following']}}</span> Seguindo</p>
                        <ul>
                            {%for repo in following%}
                            <li>
                                {{repo['login']}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="buttons">
                <form action="http://localhost:3030/salvar/" method="post">
                    <input type="hidden" name="github" value="{{github}}">
                    <input type="hidden" name="followers" value="{{followers}}">
                    <input type="hidden" name="following" value="{{following}}">
                    <button type="submit">Salvar perfil</button>
                </form>
                <a href="/">Voltar</a>
            </div>
        </div>
    </main>
</body>
</html>