<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='css/login.css')}}>
    <title>Home</title>
</head>
<body>
    {% if Response == None %}
    <script>
        alert("Salvo com sucesso!")
    </script>
    {% endif %}
    <main>
        <div id="container">
        <h1>Flask + SQL-Alchemy</h1>
        <form action="http://localhost:3030/github" method="post">
            <label>
                <p>Insira um usuário</p>
                <input type="text" name="username" id="username" placeholder="Github username">
            </label>
            <button type="submit">Localizar github</button>
            <a href="/registros">Consultar banco de dados salvo</a>
        </form>
        </div>
    </main>
</body>
</html>