<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='css/registros.css')}}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Registros</title>
</head>
<body>
<div class="container">
    <div class="content">
    <h1>Registros do banco de dados</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>Login</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </thead>
            {% for user in gitusers%}
                <tr>
                    <td>{{user['id']}}</td>
                    <td>{{user['login']}}</td>
                    <td>{{user['name']}}</td>
                    <td>{{user['bio']}}</td>
                    <td>
                        <form action="/registros" method="post">
                            <input type="hidden" name="id" value="{{user['id']}}">
                            <button type="submit" >
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Total de registros: {{gitusers|length}}</p>
    </div>
</div>
</body>
</html>
